.static {
  position: static
}

.mb-1 {
  margin-bottom: 0.25rem
}

.flex {
  display: flex
}

.w-11\/12 {
  width: 91.666667%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.justify-center {
  justify-content: center
}

.border-2 {
  border-width: 2px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.p-4 {
  padding: 1rem
}

.p-1 {
  padding: 0.25rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
