.static {
  position: static
}

.absolute {
  position: absolute
}

.top-0 {
  top: 0px
}

.right-0 {
  right: 0px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-1 {
  margin-bottom: 0.25rem
}

.w-8 {
  width: 2rem
}

.w-11\/12 {
  width: 91.666667%
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.border-2 {
  border-width: 2px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.p-4 {
  padding: 1rem
}

.p-1 {
  padding: 0.25rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.font-bold {
  font-weight: 700
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}
